<style>
  .placeholder-white::placeholder{
    color:white;
    opacity:0.5;
  }
</style>

<div class="container-fluid pt-4 mt-5" style="height:92vh">
  <div class="m-auto w-50 bg-dark h-75 border border-dark border-2 text-light" style="border-radius:20%;box-shadow:0px 0px 20px 3px black">

    <h2 class="text-center fs-1 fw-bold my-3"><span class="text-danger display-3 fw-bold">S</span>ign <span class="text-danger display-3 fw-bold">U</span>p</h2>
    <div class="w-75 m-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group my-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "placeholder-white form-control border border-top-0 border-bottom-0 border-end-0 border-danger text-danger rounded-0 bg-transparent border-5",placeholder: "Enter Email"  %>
        </div>

        <div class="field form-group my-2">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: "placeholder-white form-control border border-top-0 border-bottom-0 border-end-0 border-danger text-danger rounded-0 bg-transparent border-5",placeholder: "Enter password"  %>
        </div>

        <div class="field form-group my-2">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "placeholder-white form-control border border-top-0 border-bottom-0 border-end-0 border-danger text-danger rounded-0 bg-transparent border-5",placeholder: "Confirm password"  %>
        </div>

        <div class="actions form-group my-2 text-center">
          <%= f.submit "Sign up", class: "btn btn-danger border border-1 border-dark px-5" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>


  </div>
</div>

