
<% @post.each do |post| %>

  <div class="border border-1 p-2 border-dark rounded w-75 mx-auto my-2 bg-dark text-light">
    <div class="d-flex fw-bold fs-5 mb-2">
      <% unless post.users.where("id=#{current_user.id}").count>0 %>
        <i class="bi bi-dot px-2 mt-1 text-success" style="transform:scale(5);"></i>
      <%end%>
      <div><%= post.name %></div>
      <%if @topic.nil?%>
        <div class="ms-auto"><%= post.topic.name %></div>
      <%end%>
      <% if can? :destroy, post%>
      <div class="ms-auto">
        <%= button_to "", topic_post_path(post.topic_id,post) ,method: :delete ,class: "btn btn-outline-danger bi bi-trash3-fill fs-6"%>
      </div>
      <%end%>
    </div>
    <div style="width:90%;" class="mx-auto">
      <%if post.post_profile.attached?%>
        <%= image_tag post.post_profile ,style: "width:100%;"%>
      <%else%>
        <div style="width:100%;height:10rem;background-color:gray;"></div>
      <%end%>
    </div>
    <div class="fs-6 lead p-3" style="word-break:break-all;"><%= post.description %></div>
    <div class="row border border-1 border-bottom-0 border-start-0 border-end-0 border-daark">
      <div class="col lead" style="font-size:13px;">
        Author name:
        <div class="fw-bold" style="font-size:12px;">
          <%= post.user.email %>
        </div>
      </div>

      <div class="col lead" style="font-size:13px;">
        Avarage Rating:
        <div class="fw-bold" style="font-size:12px;">
          <%= post.ratings_average %> Stars 
        </div>
      </div>

      <div class="col lead" style="font-size:13px;">
        Comments Count:
        <div class="fw-bold" style="font-size:12px;">
          <%= post.comments_count %> Comments 
        </div>
      </div>

      <div class="col w-100 d-flex">
        <%= link_to "Open", topic_post_path(post.topic_id,post),class: "btn btn-primary w-50" %>

        <% if can? :update, post%>
          <%= link_to "", edit_topic_post_path(post.topic_id,post),class: "bi bi-vector-pen w-50 fs-4 py-0 rounded btn btn-outline-warning" %>
        <%end%>
        
      </div>
    </div>

  </div>
<%end%>


        
          