
<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <table>
    <thead>
      <tr>
        <th>Post Name</th>
        <th>Post Description</th>
        <%if @topic.nil?%>
          <th>Topic Name</th>
        <%end%>
        <th>Author Name</th>
        <th>Avarage Rating</th>
        <th>Comments Count</th>
        <th colspan="3">Operations</th>
      </tr>
    </thead>
    <% @post.each do |post| %>
      <tr>
        <% unless post.users.where("id=#{current_user.id}").count>0%>
          
          <td><b><%= post.name %></b></td>
          <td><b><%= post.description %></b></td>
          <%if @topic.nil?%>
            <td><b><%= post.topic.name %></b></td>
          <%end%>
          <td><b><%= User.find(post.user_id).email %></b></td>

        <%else%>

          <td><%= post.name %></td>
          <td><%= post.description %></td>
          <%if @topic.nil?%>
            <td><%= post.topic.name %></td>
          <%end%>
          <td><%= User.find(post.user_id).email %></td>

        <%end%>


        <td style="text-align:center;"><%= post.ratings.average(:no).to_f.truncate(1) %> Stars </td>
        <td style="text-align:center;"><%= post.comments.count %> Comments </td>
        <td><%= link_to "Open", topic_post_path(post.topic_id,post) %></td>

        <% if can? :update, post%>
          <td><%= link_to "Edit", edit_topic_post_path(post.topic_id,post) %></td>
        <%end%>

        <% if can? :destroy, post%>
          <td><%= button_to "Delete", topic_post_path(post.topic_id,post) ,method: :delete %></td>
        <%end%>

      </tr>
    <% end %>
  </table>
</div>

<%unless @topic.nil?%>
  <%= link_to "New post", new_topic_post_path(@topic) %> |
  <%= link_to "Back", topic_path(@topic) %>
<%else%>
  <%= paginate @post%>
<%end%>