
<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%if params[:topic_id].nil?%>
  <%= form_with local: false, url: posts_filter_path() do |form| %>
    <div style="display: flex">
      <div>
        <%= form.label :from_date , "from date" %><br>
        <%= form.date_field :from_date %>
      </div>
      <div>
        <%= form.label :to_date , "To date" %><br>
        <%= form.date_field :to_date %>
      </div>
      <div>
        <%= form.submit "filter"%>
      </div>
    </div><br>
  <%end%>
<%end%>


<div id="posts">
  <%= render "display"%>
</div>

<%unless @topic.nil?%>
  <%= link_to "New post", new_topic_post_path(@topic) %> |
  <%= link_to "Back", topic_path(@topic) %>
<%else%>
  <%= paginate @post%>
<%end%>