<%if notice%>
  <p class="alert w-50 mx-auto my-2 alert-success p-2" onload="call()" style="color: green"><%= notice %></p>
<%end%>

<div class="d-flex">
  <a href="<%= topic_posts_path(@topic)%>"><i class="bi bi-arrow-left-circle-fill fs-1 text-dark"></i></a>
  <div class="ms-auto d-flex gap-2 mt-2">
    <% if can? :update, @post%>
      <%= link_to "", edit_topic_post_path(@topic,@post), class: "bi bi-vector-pen btn btn-outline-warning fs-5 rounded-circle", style: "height:90%;" %>
    <%end%>

    <% if can? :destroy, @post%>
      <%= button_to "", topic_post_path(@topic,@post), method: :delete, class: "bi bi-trash3-fill btn fs-5 btn-outline-danger rounded-circle" %>
    <%end%>
  </div>
  
</div>

<div class="w-75 mx-auto">
  <div class=" my-2 fs-2 d-flex gap-2 ">
    <div class="fw-bold ">Name:</div>
    <%= @post.name %>
  </div>

  <%if @tag.count>0%>
    <div class="d-flex">
      <%@tag.each do |tag| %>
        <span class="bg-dark text-light m-2 d-flex px-1 rounded" style="font-size:12px;">
          <%= tag.name%>
          <% if can? :destroy, @post%>
            <span><%= button_to "",  topic_post_tag_path(@topic,@post,tag),method: :delete, class: "bi bi-x-lg border-0 bg-transparent text-danger" %></span>
          <%end%>
        </span>
      <%end%>
    </div>
  <%end%>

  <div  class=" my-2">
    <div class="fw-bold " style="font-size:12px;">Description:</div>
    <%= @post.description %>  
  </div>
</div>

<div class="mx-auto" style="width:80%">
  <%if @post.post_profile.attached?%>
    <%= image_tag @post.post_profile ,style: "width:100%;border:1px solid black;padding:5px;"%>
  <%else%>
    <div style="width:100%;height:13rem;background-color:gray;"></div>
  <%end%>
</div>

<div class="w-50 mx-auto my-2">
  <%= form_with(model: [@topic,@post,@star],:html=>{:style=>"display:flex;gap:1rem;"}) do |form|%>

    <div>
      <%=form.radio_button :star,1 %>
      <label class="text-warning">1 <i class="bi bi-star-fill text-warning"></i></label>
      (<%= @rating[1] ? @rating[1] : 0;%>)
    </div>

    <div>
      <%=form.radio_button :star,2%>
      <label class="text-warning">2 <i class="bi bi-star-fill text-warning"></i></label>
      (<%= @rating[2] ? @rating[2] : 0;%>)
    </div>

    <div>
      <%=form.radio_button :star,3%>
      <label class="text-warning">3 <i class="bi bi-star-fill text-warning"></i></label>
      (<%= @rating[3] ? @rating[3] : 0;%>)
    </div>

    <div>
      <%=form.radio_button :star,4%>
      <label class="text-warning">4 <i class="bi bi-star-fill text-warning"></i></label>
      (<%= @rating[4] ? @rating[4] : 0;%>)
    </div>

    <div>
      <%=form.radio_button :star,5%>
      <label class="text-warning">5 <i class="bi bi-star-fill text-warning"></i></label>
      (<%= @rating[5] ? @rating[5] : 0;%>)
    </div>

    <div>
      <%= form.submit "Add #{@post.ratings.average(:no).to_f.truncate(1)}",class: "btn btn-primary py-0"%>
    </div>

  <%end%>
</div>




---------------------------------------------------------------------------------------------------

<h3>Comments</h3>

<div>
  <%= link_to "Add comment", new_topic_post_comment_path(@topic,@post) %>
</div>

<%if @comment.count>0%>
  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th>Author Name</th>
        <% if can? :create, Commentsrating %>
            <th>Set Rating</th>
        <%end%>
        <th colspan="3">Operations</th>
      </tr>
    </thead>
    <tbody>
      <%@comment.each do |comment| %>
        <tr>
          <td><%= comment.msg%></td>
          <td><%= User.find(comment.user_id).email%></td>

          <% if can? :create, Commentsrating %>
            <td>
              <%= form_with(model: [@topic,@post,comment,@commentsrating],:html=>{:style=>"display:flex;gap:1rem;"}) do |form|%>

                <div>
                  <%=form.radio_button :no,1 %>
                  <%=form.label :no, "1 star"%>
                </div>

                <div>
                  <%=form.radio_button :no,2%>
                  <%=form.label :no, "2 star"%>
                </div>

                <div>
                  <%=form.radio_button :no,3%>
                  <%=form.label :no, "3 star"%>
                </div>

                <div>
                  <%=form.radio_button :no,4%>
                  <%=form.label :no, "4 star"%>
                </div>

                <div>
                  <%=form.radio_button :no,5%>
                  <%=form.label :no, "5 star"%>
                </div>

                <div>
                  <%= form.submit "Add"%>
                </div>

              <%end%>
            </td>
          <%end%>

          <td><%= link_to "show", topic_post_comment_path(@topic,@post,comment)%></td>
          
          <% if can? :update, comment%>
            <td><%= link_to "Edit", edit_topic_post_comment_path(@topic,@post,comment)%></td>
          <%end%>

          <% if can? :destroy, comment%>
            <td><%= button_to "Delete", topic_post_comment_path(@topic,@post,comment),method: :delete %></td>
          <%end%>
        </tr>
        
      <%end%>
    </tbody>  
  </table>
<%else%>
  <p>Empty comments</p>
<%end%>

<script>
    console.log("<%=current_user.id%>")
    console.log("<%= topic_post_path%>/read/<%=current_user.id%>")
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST","<%= topic_post_path%>/read/<%=current_user.id%>");
    xhttp.send();
</script>


